<div class="col-sm-8 blog-main">
  <h1>Violations</h1>

  <p>Here's some filler text with some details pertaining to the details needed when reporting a violation, with probably some rules too</p>

  <%= link_to 'Report a Violation', new_violation_path %>

</div>