<div class="col-sm-8 blog-main">
  <h1>Report a Violation</h1>

  <p>Here's some filler text with some details pertaining to the details needed when reporting a violation, with probably some rules too</p>

  <%= render 'form', violation: @violation %>
  <%= link_to 'Back', violations_path %>
</div>