<h1>Violation Submitted</h1>

<%= @violation.title %>
<%= @violation.description %>

 <%= link_to 'Edit Submitted Violation', edit_violation_path(@violation) %>

<p>Your violation has been submitted and you will hear from someone from Anderson Property Managment within 48hrs</p>