<h1>Violation Submitted</h1>

<%= @violation.title %>
<%= @violation.description %>

<p>Your violation has been submitted and you will hear from someone from Anderson Property Managment within 48hrs</p>